<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ELE测试</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1">

  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
  <script src="static/vuejs/vue.min.js"></script>
  <script src="static/vuejs/vue-resource.min.js"></script>
  <script type="text/javascript" src="static/jessibuca/jessibuca-pro-demo.js"></script>
</head>

<body>
  <div id="box">

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">ELE测试</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ELE测试</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Main <span class="sr-only">(current)</span></a></li>
            <li><a href="https://jessibuca.com/player-pro.html">JessibucaPro <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="color: firebrick;">{{alert_message}}</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <table class="table table-condensed table-bordered" style="white-space: nowrap; text-align: center;">
            <tbody>
              <tr>
                <td><input type="text" class="form-control input-sm" style="text-align:center; border-radius:0px; height: 25px;" placeholder="流地址" v-model="media_url">
                </td>
                <td style="width: 110px;"><button class="btn btn-default btn-xs" @click="append_player(media_url)">添加通道</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <table class="table table-condensed table-bordered" style="white-space: nowrap; text-align: center;">
            <tbody>
              <tr>
                <td><input type="text" class="form-control input-sm" style="text-align:center; border-radius:0px; height: 25px;" placeholder="音乐目录" v-model="music_dir">
                </td>
                <td style="width: 110px;"><button class="btn btn-default btn-xs" v-bind:disabled="music_player_started" @click="detect_music_files">播放歌曲</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12">
          <table class="table table-condensed table-bordered">
            <tbody>
              <tr>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container1_1"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container1_2"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container1_3"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container1_4"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container2_1"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container2_2"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container2_3"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container2_4"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container3_1"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container3_2"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container3_3"></div>
                  </div>
                </td>
                <td style="background-color: black;text-align: center;">
                  <div style="text-align: center;width: 100%;background-color: black;">
                    <div style="min-height: 200px;" id="container3_4"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

  <!-- <script src="static/jquery/jquery.min.js"></script> -->
  <script>window.jQuery = window.$ = require('jquery');</script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <script src="./renderer.js"></script>
</body>

</html>